.mainA {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-direction: column;
    margin-top: 5rem;
}

#about {
    margin-top: 12rem;
    color: transparent;
}

.titleA {
    display: flex;
    justify-content: end;
    margin-right: 12rem;
    margin-top: 6rem;
    font-family: "Raginy";
    font-size: 4rem;
    color: #336699;
    margin-bottom: -4rem;
}

.textA h4{
    display: flex;
    justify-content: end;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
    padding-left: 6rem;
    padding-right: 6rem;
    color: #336699;
}

.h4H {
    margin-top: 3rem;
    font-size: 3rem;
    color: #336699;
    /* margin-bottom: -2rem; */
}

.h4H:hover {
    color: #33669973;
    transition: 300ms;
}

.techStack button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #336699;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    stroke-width: 6;
    border-radius: 3rem;
    background-color: transparent;
    border-color: #336699;
    border-style: solid;
    height: 2.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.techStack a {
    text-decoration: none;
}

.techStack i {
    color: #336699;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
}

.techStack i:hover {
    color: #E4ACA6;
    font-size: 5rem;
    padding: 0;
    margin-top: 0;
    transition: 600ms;
}