.mainA {

    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-direction: column;
}

.titleA {
    margin-top: 8rem;
    font-family: 'Michroma', sans-serif;
    font-size: 3rem;
    justify-content: center;
    color: #FFCCCC;
    margin-bottom: 0%;
}

.textA {
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    color: #FFFFFF;
}
.textA h4{
    margin-top: 0;
}

.h4H {
    margin-top: 3rem;
    font-size: 3rem;
    color: #E4ACA6;
    /* margin-bottom: -2rem; */
}

.h4H:hover {
    color: #FFFFFF;
    transition: 300ms;
}
.techStack h4{
    font-family: 'Michroma', sans-serif;
    font-size: 1.8rem;
    color: #E4ACA6;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
.techStack a{
    text-decoration: none;
}
.techStack i {
    color: #FFFFFF;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
}
.techStack i:hover {
    color: #E4ACA6;
    font-size: 5rem;
    padding: 0;
    margin-top: 0;
    transition: 600ms;
}

