.up {
    /* position: fixed; */
    padding: 0px 20px;
    color: #FFCCCC;
    font-size: 4rem;
    background-color: #336699;
    border: 0;
    border-radius: 100%;
    text-decoration: none;
    position: fixed;
    bottom: 80px; 
    right: 10px;
    transform: scale(1);
    transition: 0.3s;
}
.up:hover {
    color: #FFFFFF;
    transition: 300ms;
    background-color: #33669980;
}
.top{
    padding: 0px 20px;
    /* padding-top: 0; */
    color: #FFCCCC;
    font-size: 4rem;
    background-color: #336699;
    border: 0;
    border-radius: 100%;
    text-decoration: none;
    position: fixed;
    bottom: 80px;
    right: 10px;
    transform: scale(0);
    transition: 0.3s;
}

