.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cardImg video {
    object-fit: contain;
    margin-top: 0;
    height: 16rem;
    border-radius: 2rem;
}


.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
    padding-right: 6rem;
}

.cardTitle {
    color: #336699;
    font-family: "Raginy";
    font-size: 3rem;
    margin-bottom: 0;
}
.cardText h4 { align-self: flex-start;}
.cardText {
    align-self: flex-start;
    width: 25rem;
    color: #336699;
    font-size: 0.8rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.cardLinks {
    margin-top: 0rem;
    padding-bottom: 1rem;
}

.cardLinks a {
    margin-left: 1rem;
    margin-right: 1rem;
}

.cardLinks ion-icon {
    font-size: 3rem;
    color: #E8B0AA
}

.cardLinks ion-icon:hover {
    /* font-size: 3.6rem; */
    color: #336699;
    transition: 300ms;
}