.mainC {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-direction: column;
}

.titleC {
    margin-top: 8rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.contacth2 {
    font-family: "Raginy";
    font-size: 7rem;
    justify-content: center;
    color: #E8B0AA;
    margin-bottom: 0;

}

.cardsC {
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* color: #336699; */

.workh3 {
    font-size: 1.5rem;
    color: #E8B0AA;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titleC button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    font-weight: 800;

    color: #E8B0AA;
    stroke-width: 6;
    border-radius: 3rem;
    background-color: transparent;
    border-color: #E8B0AA;
    border-style: solid;


}