.mainCC {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    margin-top: 10rem;
}

.imgCC {
    margin-top: 3rem;
    width: 6rem;
    color: white;
}

.textCC {
    margin-top: 1rem;
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
}
.mainCC ion-icon {
    color: #FFFFFF;
    font-size: 6rem;
    padding: 1rem;
}

.mainCC ion-icon:hover {
    color: #E4ACA6;
    /* font-size: 6.1rem; */
    transition: 300ms;
}