.mainCC {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-top: -5rem;
}

.textCC {
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
}

.mainCC ion-icon {
    color: #FFFFFF;
    font-size: 4rem;
    padding: 1rem;
}

.mainCC ion-icon:hover {
    color: #E4ACA6;
    /* font-size: 6.1rem; */
    transition: 300ms;
}