.mainC {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-direction: column;
}

.titleC {
    margin-top: 8rem;
    justify-content: center;
}
.contacth2{
    font-family: 'Michroma', sans-serif;
    font-size: 5rem;
    justify-content: center;
    color: #FFCCCC;
    margin-bottom: 0%;
}

.cardsC {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}