.mainH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1U {
    font-family: 'Michroma', sans-serif;
    font-size: 6.5rem;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: -3.3rem;
}

.h1D {
    font-family: 'Michroma', sans-serif;
    font-size: 7rem;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
    margin-top: -2.5rem;
}

.h2U {
    font-family: 'Michroma', sans-serif;
    font-size: 2rem;
    color: #E4ACA6;
    margin-bottom: -2rem;
    margin-top: 5rem;
}

.h2D {
    font-family: 'Michroma', sans-serif;
    font-size: 2rem;
    color: #E4ACA6;
    margin-top: -1.5rem;
    margin-bottom: 7rem;
    white-space: nowrap;
    overflow: hidden;

}

.h4H {
    margin-top: 7rem;
    font-size: 3rem;
    color: #E4ACA6;
    width: 8rem;
}

.h4H:hover {
    color: #FFFFFF;
    transition: 300ms;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 100%;
    width: 8rem;
}

.mainH h1:hover {
    color: #E4ACA6;
    transition: 300ms;
}

.mainH h2:hover {
    color: #FFFFFF;
    transition: 300ms;
}


/* Animation */
.h2D {
    animation: animated-text 4s steps(30, end) 1s 1 normal both;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 38rem;
    }
}