@font-face {
    font-family: "Raginy";
    src: url("../assets/raginyfree-regular.woff2") format("woff2"),
        url("../assets/raginyfree-regular.woff") format("woff");
}

.mainH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainH h1 {
    font-family: "Raginy"; 
    font-size: 6.8rem;  
    margin: 0;  
    font-weight: 800;
} 
.leandro {
    margin-top: 10rem;
    display: flex;
    color: #FFF5F1;
    margin-bottom: -1rem;
}
.pereyra {
    display: flex;
    color: #FFF5F1;
    margin-top: -0.5rem;
    margin-bottom: -.4rem;
}
.r{
    -webkit-text-stroke: 0.1rem #FFF5F1;
    color: transparent;
}
.leandro:hover {
    color: #FFFFFF;
    transition: 300ms;
    -webkit-text-stroke: 0.1rem #FFF5F1;
    color: transparent;
}
.fulldiv{
    stroke-width: 6;
    border-radius: 3rem;
    background-color: transparent; 
    border-color: #FFF5F1;
    border-style:solid;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
    /* 
    color: transparent;
    height: 2rem;
    width: 18rem;
    */
}
.fullstack {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #FFF5F1;
}
.mainH h1:hover {
    color: #E4ACA6;
    transition: 300ms;

}
.fulldiv:hover {
    color: #FFFFFF;
    transition: 300ms;
    background-color: #e4aca63a;
}
.flecha {
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF5F1;
    margin-bottom: 5rem;
}
.flecha:hover{
    color: #fff5f177;
    transition: 300ms;
}