.mainN {
    display: flex;
    position: fixed;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

.itemsN {
    margin-top: 2rem;
    height: 2.6rem;
    background-color: #336699;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:3rem ;
}

.itemN {
    text-decoration: none;
    padding: 1rem;
    margin: 2rem;
    color: #FFCCCC;
    font-family: 'Source Sans Pro', sans-serif;
}

.itemN:hover{
    color: #FFFFFF;
    transition: 300ms;
    background-color: rgba(0, 0, 0, 0.147);
    /* border-radius: 100%; */
}