@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  scroll-behavior: smooth;
}

body {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  position: relative;
}

/* h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(white, #A3A3FF, var(--swiper-theme-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.left-50 {
  left: 50%
}

.right-50 {
  right: 50%
}

.top-50 {
  top: 50%
}

.-z-1 {
  z-index: -1;
}

.secondary-title {
  @apply text-3xl font-bold;
}

.secondary-title::before {
  content: "";
  @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl;
}

.badge {
  @apply px-4 py-2 text-sm rounded bg-badge;
}

[id] {
  scroll-margin-top: 100px;
}

.left-percentage {
  left: 5%;
}

.h-screen-partial {
  height: 80vh;
}

.nav-dot {
  transition: background 200ms, border-color 200ms;
}

.selected-circle {
  @apply border-theme bg-theme;
}

.nav-dot:hover span {
  opacity: 1;
}


/*-------------------------------------------------------------*/
.x1 {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2 {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4 {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7 {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}


@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}


/*------------------------------------------------------------------*/

.burger-menu {
  margin: 10px 0 0 10px;
}

.burger-menu .menu-check {
  display: none;
}

.burger-menu .menu-open {
  padding: 20px 30px;
  border-radius: 100%;
  position: relative;
  background: #ffffff21;
  cursor: pointer;
  z-index: 1;
}

.burger-menu .menu-open span {
  width: 40px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.5px;
  margin-left: -20px;
  background-color: #fff;
  font-weight: bold;
  opacity: 1;
  transition: 0.3s;
}

.burger-menu .menu-open span.burger1 {
  transform: translate3d(0px, -10px, 0px);
}

.burger-menu .menu-open span.burger2 {
  transform: translate3d(0px, 0px, 0px);
  transition: 0.1s;
}

.burger-menu .menu-open span.burger3 {
  transform: translate3d(0px, 10px, 0px);
}

.burger-menu .menu-check:checked+.menu-open {
  background: #fff;
  border: 0;
}

.burger-menu .menu-check:checked+.menu-open span {
  background-color: #000000;
}

.burger-menu .menu-check:checked+.menu-open span.burger1 {
  transform: translate3d(0px, -10px, 0px) rotate(-45deg);
  width: 30px;
}

.burger-menu .menu-check:checked+.menu-open span.burger2 {
  opacity: 0;
}

.burger-menu .menu-check:checked+.menu-open span.burger3 {
  transform: translate3d(0px, 10px, 0px) rotate(45deg);
  width: 30px;
}

.burger-menu .menu-options {
  background-color: #000000;
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  padding: 100px 0px 50px;
  opacity: 0;
  transition: 0.3s;
}

.burger-menu .menu-options li {
  color: #fff;
  text-align: center;
  list-style: none;
  display: block;
  font-weight: normal;
}

.burger-menu .menu-options li a {
  text-decoration: none;
  color: #fff;
  line-height: 4em;
  display: block;
  transition: 0.5s;
}

.burger-menu .menu-options li a:hover {
  background: #8d8d8d78;
}

.burger-menu .menu-options li.search {
  margin-bottom: 1em;
}

.burger-menu .menu-options li.search .search-box {
  width: 300px;
  height: 35px;
  font-size: 1em;
  color: #7777777b;
  padding: 0 15px;
  font-weight: lighter;
}

.burger-menu .menu-check:checked~.menu-options {
  width: 100%;
  opacity: 1;
}